marcas/tema_2/entrega_6/validaciones/xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="noticia">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="lugar" type="xs:string"/>
        <xs:element name="fecha" type="xs:string"/>
        <xs:element name="desc" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
