marcas/tema_5/ejercicio-12/4.xsd

<!ELEMENT articulos (codigo | id)*>
<!ELEMENT codigo (#PCDATA)>
<!ELEMENT id (#PCDATA)>

////////

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <!-- Definición del elemento raíz -->
    <xs:element name="articulos">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="codigo" type="xs:string"/>
                <xs:element name="id" type="xs:string"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

</xs:schema>