marcas/tema_5/solucion-13/a2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="etiquetas_html">
    <xs:complexType>
      <xs:element ref="br"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="br">
    <xs:complexType>
      <xs:attribute name="descripcion" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
